.success-page {
//   height: 100vh;
  background: #f7f9fc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.success-icon img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.success-title {
  font-size: 22px;
  font-weight: 600;
  color: #111;
  margin-bottom: 8px;
}

.success-message {
  font-size: 14px;
  color: #64748b; /* slate-500 */
  margin-bottom: 32px;
}

/* Button */
.ok-btn {
  width: 70%;
  background: #2752e7;
  color: white;
  padding: 14px 0;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}

.ok-btn:active {
  transform: scale(0.97);
}
