<div class="game-container">
  <!-- 🔹 Blue Banner -->
  <div class="blue-banner">
    <img src="/common-top.svg" alt="banner background" class="banner-bg" />

    <div class="banner-content">
      <div class="banner-text">
        <h2>Earn more, level up</h2>
        <p>
          Unlock your Tower Strategy Level, circulate your digital assets, and
          generate sustainable returns with smart circulation
        </p>
      </div>

      <div class="banner-img">
        <img src="/game-banner.svg" alt="Game Banner" />
      </div>
    </div>
  </div>

  <!-- 🔹 Game Cards Section -->
  <div class="cards-wrapper">
    <div class="game-card" *ngFor="let card of cards; let i = index" [ngClass]="{
    'first-card': i === 0,
    'disabled-card': card.disableType === 'card' && !card.enabled,
    'disabled-button': card.disableType === 'button' && !card.enabled
  }" [style.background-image]="'url(' + card.background + ')'">
      <div class="overlay" *ngIf="card.disableType === 'card' && !card.enabled">
        Coming Soon
      </div>

      <div class="chip validity" style="display: flex;">
        <div style="margin-top: 2px;">
          <img src="game-clock.svg" alt="clock" />
        </div>
        <div style="margin-left: 4px;">{{ card.validity }}</div>
      </div>

      <div class="card-content">
        <h3 class="title">{{ card.title }}</h3>
        <p class="reward">{{ card.reward }}</p>

        <div *ngIf="card.status || card.miningCycle" class="status-chips">
          <span class="chip small">{{ card.status }}</span>
          <span class="chip small">{{ card.miningCycle }}</span>
        </div>

        <button class="action-btn" [disabled]="!card.enabled && card.disableType === 'button'" (click)="onAction(card)">
          {{ card.buttonText }}
        </button>
      </div>
    </div>

    <!-- ✅ Place modal outside loop -->

  </div>
</div>

<app-game-success-screen #gameSuccessModel></app-game-success-screen>
<app-game-success-timer #timer></app-game-success-timer>