<div class="page-container">
  <div class="banner">
    <div class="banner-align">
      <!-- <button class="back-btn" (click)="goBack()">
      </button> -->
      <span class="back-btn" (click)="goBack()"><</span>
      <div class="banner-text">
        <h2>Change password</h2>
      </div>
    </div>
    <p>Create a new password. Ensure it differs from previous ones for security.</p>
  </div>
  <div class="form-container">
    <form [formGroup]="form">

      <label>New password</label>
      <input
        type="password"
        formControlName="newPassword"
        placeholder="Enter your new password"
      />
      <div class="error-msg" *ngIf="form.get('newPassword')?.touched && form.get('newPassword')?.invalid">
        Password must be at least 6 characters.
      </div>

      <label>Confirm New password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        placeholder="Enter your new password"
      />
      <div class="error-msg" *ngIf="form.errors?.['mismatch']">
        Passwords do not match.
      </div>

    </form>
  </div>

  <!-- 🔵 Bottom fixed save/update button -->
  <div class="bottom-btn-wrapper">
    <button class="primary-btn" (click)="updatePassword()">
      Update password
    </button>
  </div>

</div>
