* {
  font-family: 'Poppins', sans-serif !important;
}

.layout-container {
  background: #f8faff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Top Banner */
.blue-banner {
  position: relative;
  height: 180px;
  text-align: center;
  color: #fff;
}

.upper-blue {
  height: 160px;
  background: url('/common-top.svg') center top / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.back-btn {
  position: absolute;
  left: 16px;
  top: 30px;
  background: none;
  border: none;
  top: 40px;
}

.spacer {
  position: absolute;
  right: 16px;
  top: 30px;
  width: 30px;
}

.banner-sub {
  color: #ffffffcc;
  font-size: 13px;
  margin-top: -10px;
}

.lower-blue {
  height: 20px;
}

/* Card */
.content {
  padding: 0 16px;
  margin-top: -30px;
}

.card {
  background: #fff;
  border-radius: 14px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 6px 20px rgba(4, 29, 98, 0.08);
  margin-top: 70px;
}

.qr {
  width: 150px;
  height: 150px;
}

.label {
  font-size: 13px;
  margin-top: 10px;
  color: #333;
}

.amount {
  font-size: 20px;
  color: #0f172a;
  margin: 6px 0 14px;
  font-weight: 600;
}

.address-box {
  padding: 10px 12px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin: 5px 0 12px;
  align-items: center;
}

.copy img {
  width: 14px;
}

/* Note & Timer */
.note {
  font-size: 12px;
  color: #6b7280;
}

.timer {
  margin-top: 12px;
  color: #ff9900;
  font-weight: 600;
}

/* Cancel Button */
.cancel-box {
  padding: 16px;
  margin-top: auto;
}

.cancel-btn {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #d0d5dd;
  background: white;
  font-size: 16px;
}

.banner {
  background: url('/common-top.svg') center/cover no-repeat;
  color: #fff;
  position: relative;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-align: center;
}
.banner-align{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
}
.back-btn {
            position: absolute;
            left: 16px;
            background: none;
            border: none;
            cursor: pointer;

            img {
                width: 18px;
                height: 18px;
            }
        }
.banner-text {
  h2 {
    font-size: 18px;
    font-weight: 600;
  }
}
.banner {
  p {
    font-size: 14px;
    opacity: 0.7;
    margin: 0;
    height: 40px;
    width: 285px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .banner-text h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5;
  }
}

.address-text {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.3px;
  color: #0f1724;
}