* {
  font-family: 'Poppins', sans-serif;
}

.deposit-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  z-index: 99;
  max-width: 420px;
  margin: auto;
  box-shadow: 0 -3px 12px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease;
  overflow: hidden;
}

.modal-header-blue {
  background: #2752e7;
  color: #fff;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  h3 {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  img {
    cursor: pointer;
    width: 20px;
  }
}

.modal-body {
  padding: 20px;
  text-align: center;

  img {
    width: 150px;
    margin-bottom: 12px;
  }

  .title {
    color: #111;
    font-weight: 600;
    font-size: 16px;
  }

  .desc {
    color: #707070;
    font-size: 13px;
    margin-top: 6px;
  }
}

/* Animations */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}
.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}