<div class="layout-container" fxLayout="column" fxFlexFill>
  <header>
    <app-top-nav></app-top-nav>
  </header>

  <div class="signin-container">
    <div class="welcome-section">
      <div class="welcome-text">{{'Welcome' | translate}}</div>
      <div class="bnb-text">{{'to Tower BNB' | translate}}</div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <!-- Signup Card -->
      <div class="login-card">
        <div class="hero-coin">
          <img src="/golden_coin.svg" alt="Golden Coin" />
        </div>

        <h2 class="form-heading">{{ 'Create your account' | translate }}</h2>

        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="formField">
          <!-- Name -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="
                  signupForm.get('name')?.invalid &&
                  (signupForm.get('name')?.touched || signupForm.get('name')?.dirty)
                ">{{ 'Name' | translate }}*</span>
            </div>
            <mat-form-field class="password-field" appearance="outline">
              <input matInput type="text" formControlName="name" placeholder="John Doe" />
              <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
                {{ 'Full name is required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Email -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="
                  signupForm.get('email')?.invalid &&
                  (signupForm.get('email')?.touched || signupForm.get('email')?.dirty)
                ">{{ 'Email' | translate }}*</span>
            </div>

            <mat-form-field class="password-field" appearance="outline">
              <input matInput type="email" formControlName="email" placeholder="Enter Valid Email ID" />
              <mat-error *ngIf="signupForm.get('email')?.hasError('required')">
                {{ 'Email is required' | translate }}
              </mat-error>
              <mat-error *ngIf="signupForm.get('email')?.hasError('email')">
                {{ 'Please enter a valid email' | translate }}
              </mat-error>
              <mat-hint style="color: #808080;">Enter your valid Gmail address to receive the verification link to
                create an account</mat-hint>
            </mat-form-field>
          </div>



          <!-- Password -->
          <div class="password-section" style="margin-top:25px">
            <div class="section-labels">
              <span style="width: 100%;" [class.error-label]="
                  signupForm.get('password')?.invalid &&
                  (signupForm.get('password')?.touched || signupForm.get('password')?.dirty)
                ">{{ 'Login Password' | translate }}</span>
            </div>
            <mat-form-field class="password-field" appearance="outline">
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password"
                placeholder="Enter Password" />
              <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
                <!-- <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon> -->
                <img src="/password-eye.svg" alt="password" />
              </button>
              <mat-error *ngIf="signupForm.get('password')?.hasError('required')">
                {{ 'Password is required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- E-PIN -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="
                  signupForm.get('epin')?.invalid &&
                  (signupForm.get('epin')?.touched || signupForm.get('epin')?.dirty)
                ">{{ 'Pass Code' | translate }} *</span>
            </div>
            <mat-form-field class="password-field" appearance="outline">
              <input matInput type="password" formControlName="epin" maxlength="6" placeholder="Enter PassCode" />
              <mat-error *ngIf="signupForm.get('epin')?.hasError('required')">
                {{ 'E-PIN is required' | translate }}
              </mat-error>
              <mat-error *ngIf="signupForm.get('epin')?.hasError('minlength')">
                {{ 'E-PIN must be 6 digits' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Confirm E-PIN -->
          <div class="password-section">
            <div class="section-labels">
              <span style="width: 100%;" [class.error-label]="
                  signupForm.get('confirmEpin')?.invalid &&
                  (signupForm.get('confirmEpin')?.touched || signupForm.get('confirmEpin')?.dirty)
                ">{{ 'Confirm Pass Code' | translate }} *</span>
            </div>
            <mat-form-field class="password-field" appearance="outline">
              <input matInput type="password" formControlName="confirmEpin" maxlength="6"
                placeholder="Confirm PassCode" />
              <mat-error *ngIf="signupForm.get('confirmEpin')?.hasError('mismatch')">
                EPIN and Confirm EPIN must match
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Refferal -->
          <div class="password-section">
            <div class="section-labels">
              <span [class.error-label]="
                  signupForm.get('refferal')?.invalid &&
                  (signupForm.get('refferal')?.touched || signupForm.get('refferal')?.dirty)
                ">{{ 'Referal Code' | translate }}</span>
            </div>
            <mat-form-field class="password-field" appearance="outline">
              <input matInput type="text" formControlName="refferal" placeholder="Enter Referal Code" />
              <mat-error *ngIf="signupForm.get('name')?.hasError('required')">
                {{ 'Referal Code is required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <!-- Terms and Conditions -->
          <div class="form-options">
            <mat-checkbox class="remember-checkbox" formControlName="terms">
              {{ 'I hereby agree to all' |translate }} <span [routerLink]="['/t&c']" class="signup-text">{{'Terms & Conditions' | translate}}</span> {{'of TowerBNB' | translate }}
            </mat-checkbox>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="footer">
    <button mat-raised-button (click)="onSubmit()" type="submit" class="login-button" [disabled]="signupForm.invalid">
      {{ 'Create Account' | translate }}
    </button>

    <div class="signup-link">
      <span>{{ 'Already have an account? ' | translate }} </span>
      <a [routerLink]="['/signin']" class="signup-text" style="margin-left: 3px;">
        {{ 'Log In' | translate }}
      </a>
    </div>
  </footer>
</div>
